version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    environment:
      GOOSE_DBSTRING: "host=db user=${POSTGRES_USER} password=${POSTGRES_PASSWORD} dbname=${POSTGRES_DB} sslmode=disable"
    ports:
      - "8080:8080"

  app-dev:
    image: golang:1.25-alpine
    depends_on:
      db:
        condition: service_healthy
    working_dir: /app
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      GOOSE_DBSTRING: "host=db user=${POSTGRES_USER} password=${POSTGRES_PASSWORD} dbname=${POSTGRES_DB} sslmode=disable"
    command: sh -c "go install github.com/air-verse/air@latest && air -c .air.toml"
    ports:
      - "8080:8080"

volumes:
  db_data:
